* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Cinzel', serif;
    background-color: #511ab7;
    width: 100%;
    align-items: center;
    --main-color: #511AB7;
    --green: #1BFD9C;
    --transparent-background: linear-gradient(to right, rgba(27, 253, 156, 0.1), transparent, transparent, rgba(27, 253, 156, 0.1));
    --purple-transparent: rgba(81, 26, 183, 0.4);

}


.background-image {
    background-image: linear-gradient(to bottom, rgba(38, 119, 51, 0.418), rgba(81, 26, 183, 0.76)), url('../Pictures/gallery-photos/gaming-team.jpg');
    position: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.icons-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 40px;
}

.icons-container i {
    color: var(--green);
    font-size: 40px;
    padding: 10px;
}

.icons-container i:hover {
    color: var(--purple-transparent);
}

.icons-container i:active {
    transform: scale(0.9);
}

.title-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--green);
    font-family: 'Orbitron', sans-serif;
    font-size: 64px;
}

h1 {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 200px 300px;
    grid-gap: 20px;
    grid-auto-flow: dense;
    margin: 10%;
}

.gallery-item {
    width: 100%;
    height: 100%;
}

.gallery-item .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 60% 50%;
    cursor: pointer;

}

.height-1 {
    grid-row: span 1;
}

.height-2 {
    grid-row: span 2;
}

.height-3 {
    grid-row: span 3;
}

.width-1 {
    grid-column: span 1;
}

.width-2 {
    grid-column: span 2;
}

.width-3 {
    grid-column: span 3;
}

.width-4 {
    grid-column: span 4;
}

.width-5 {
    grid-column: span 5;
}





/*
.image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.image-box {
    display:flex;
    align-items: center;
    position: relative;
    width: 500px;
    height: 400px;
    overflow: hidden;
    border: solid 4px;
    color: var(--green);
    margin-bottom: 20px;
   
}
/*

  

  