* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  
  body {
    display: flex;
    flex-direction: column;
    font-family: 'Cinzel', serif;
    background-color: #511ab7;
    width: 100%;
    align-items: center;
    --main-color: #511AB7;
    --green: #1BFD9C;
    --transparent-background: linear-gradient(to right,rgba(27, 253, 156, 0.1),transparent,transparent,rgba(27, 253, 156, 0.1));
    --purple-transparent: rgba(81, 26, 183, 0.4);

  }

  

  .background-image {
    position: absolute;
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    z-index: -1;
    top: 0;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    border-bottom: 4px solid;
    color: var(--green);
   
    
  }

  .title-container {
  
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--green);
    font-family: 'Orbitron', sans-serif;
    font-size: 64px;


  }

  h1 {
    margin: 0;
  }

  .image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
  }

  .image-box {
    display:flex;
    align-items: center;
    position: relative;
    width: 500px;
    height: 400px;
    overflow: hidden;
    border: solid 4px;
    color: var(--green);
    margin-bottom: 20px;
   
  }


  

  