* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Cinzel', serif;
    background-color: #511ab7;
    width: 100%;
    --main-color: #511AB7;
    --green: #1BFD9C;
    --transparent-background: linear-gradient(to right,rgba(27, 253, 156, 0.1),transparent,transparent,rgba(27, 253, 156, 0.1));
    --purple-transparent: rgba(81, 26, 183, 0.4);
    
    
  }

  .background-image {
    position: absolute;
    min-width: 100%;
    max-width: 100%;
    max-height: 100vh;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    border-bottom: 4px solid;
    color: var(--green);
   
    
  }

  .title-container {
    min-width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--green);
    font-family: 'Orbitron', sans-serif;
    font-size: 64px;

  }