* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

html {
    display: flex;
    justify-content: center;
    background-image: url(../Pictures/landing-page/gaming2.jpg);
}

body {
    --main-color: #511AB7;
    --green: #1BFD9C;
    --transparent-background: linear-gradient(to right,rgba(27, 253, 156, 0.1),transparent,transparent,rgba(27, 253, 156, 0.1));
    --purple-transparent: rgba(81, 26, 183, 0.685);
    --purple-transparent-dark: rgba(81, 26, 183, 0.596);
    --green-transparent: rgba(132, 248, 157, 0.4);
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  
  }

  p {
    text-shadow: 1px 1px var(--main-color);
    color: var(--green);
  }
  
  .s1 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 90vh;
      flex-direction: column;
  }

  .s2 {
    display: flex;
    height: 100%;
    width: 100%;
  }

  /*----------------ICONS---------------*/

  .icons-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin: 40px;
}

.icons-container i {
    color: var(--green);
    font-size: 40px;
    padding: 10px;
    -webkit-text-stroke: 1px var(--main-color);
}

.icons-container i:hover {
    color: var(--purple-transparent);
}

.icons-container i:active {
    transform: scale(0.9);
}
  
 /*----------------LOGO---------------*/
  .logo-container {
      font-family: 'Orbitron', sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      max-width: 400px;
      width: 100%;
      height: 260px;
    
/*
      padding: 10px;
      color: var(--main-color);
      border-radius: 10px;
      background: linear-gradient(to right,rgba(27, 253, 156, 0.1),transparent,transparent,rgba(27, 253, 156, 0.1));
      box-shadow: 0 0 10px rgba(27, 253, 114, 0.6), 0 0 9px 3px rgba(27, 253, 196, 0.2);
      background-color: var(--purple-transparent);
*/
  }

  .logo-container p {
    font-size: 45px;
    font-weight: 700;
   }

   /*----------------RESERVATION BUTTON---------------*/
   .res-btn {
    font-family: 'Orbitron', sans-serif;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    color: var(--green);
    border: none;
    border: 2px solid var(--green);
    color: var(--green);
    background: var(--purple-transparent);
    box-shadow: inset 0 0 10px rgba(51, 241, 108, 0.795), 0 0 9px 3px rgba(150, 238, 179, 0.767);
   }
   .res-btn:hover {
    cursor: pointer;
   }

   .res-btn:active {
    transform: scale(0.95);
   }

   .res-btn a {
    text-decoration: none;
    color: var(--green);
   }

   

   /*FORM*/

form {
    height: 500px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 0.7em 2.7em;
    border-radius: 0.6em;
    border: 2px solid var(--green);
    color: var(--green);
    background: var(--purple-transparent-dark);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
    margin: 40px;
}

.input-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

label {
    margin-bottom: 6px;
}

#name {
    background-color: var(--purple-transparent);
    color: var(--green);
    border-radius: 4px;
}

#lastname {
    background-color: var(--purple-transparent);
    color: var(--green);
    border-radius: 4px;
}

#email {
    background-color: var(--purple-transparent);
    color: var(--green);
    border-radius: 4px;
}

#message {
    background-color: var(--purple-transparent);
    color: var(--green);
    border-radius: 4px;
}

button {
    padding: 0.7em 2.7em;
    border-radius: 0.6em;
    border: 2px solid var(--green);
    color: var(--green);
    background: var(--transparent-background);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

button:hover{
    color: var(--green);
    box-shadow: inset 0 0 10px rgba(27, 253, 114, 0.6), 0 0 9px 3px rgba(27, 253, 196, 0.2);
    background-color: var(--main-color);
    cursor: pointer; 
    background-color: rgba(81, 26, 183, 0.4);
}

.input-box {
    color: var(--green);
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.input-box-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#list {
    background-color: var(--main-color);
    color: var(--green);
}



  


 