@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');

html {
    --main-color: #511AB7;
    --green: #1BFD9C;
    --transparent-background: linear-gradient(to right,rgba(27, 253, 156, 0.1),transparent,transparent,rgba(27, 253, 156, 0.1));
    --purple-transparent: rgba(81, 26, 183, 0.4);
    font-family: 'Roboto Mono', monospace;
}

header {
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    width: 80%;
    height: 100px;
    color: var(--main-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 20px;
    padding: 0.7em 2.7em;
    border-radius: 0.6em;
    border: 2px solid var(--green);
    color: var(--green);
    background: var(--transparent-background);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);s
}


.barname-url {
    font-size: 18px;
}

nav {
    height: 40px;
    display: flex;
}

nav ul {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: auto;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    list-style: none;
    margin: 0 20px 0 20px;
}

nav li a {
    text-decoration: none;
    font-size: 15px;
    padding: 0.7em 2.7em;
    border-radius: 0.6em;
    border: 2px solid var(--green);
    color: var(--green);
    background: var(--transparent-background);
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

nav li a:hover {
    color: var(--green);
    background-color: var(--purple-transparent);
}